<div class="mx-auto max-w-md w-full">
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2 class="font-bold text-4xl">Register</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
    <div class="my-4">
      <%= form.label :email %><br>
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-4">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-4">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Register", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <div class="mt-8">
    <%= link_to "Log in", new_session_path(resource_name), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %><br>
  </div>
</div>
