<%= tag.div id: dom_id(post) do %>
  <h2 class="my-4 font-bold"><%= post.title %></h2>
  <p class="my-4"><%= post.body %></p>

  <% if action_name != "show" %>
    <%= link_to "Show", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit", edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
<% end %>
